# An introduction to Python

Python is an *easy to read* and *easy to learn* multiparadigm programming language. This notebook allows to quickly dive into this language for any student with knowledge of a procedural programming language such as C or Matlab. This introduction is based on the following references :
 * Learning Python, by Mark Lutz
 * Python Programming: An Introduction to Computer Science, by John M. Zelle
 * https://github.com/dataminingapp
 * [Python 3.5.2 documentation](https://docs.python.org/3/)
 * https://learnxinyminutes.com/docs/python3/,
 * [Exercises in Programming Style, by Cristina Videira Lopes](https://github.com/crista/exercises-in-programming-style)
 * [Python Cookbook, by David Beazley and Brian K. Jones](http://chimera.labs.oreilly.com/books/1230000000393)

#### Execute, and explain each expression. To execute a cell, select the cell and press `Ctrl + Enter` keys.

### Float, integers, and mathematical operators

In [3]:
3

3

In [1]:
type(3)

int

In [20]:
?type

In [2]:
1 + 1 - 4

-2

In [3]:
_ + 3

1

In [9]:
3 * 2

6

In [10]:
3 * 2.0

6.0

In [22]:
type(3 * 2.0)

float

In [11]:
2**4

16

In [12]:
7 % 3

1

In [13]:
int(4.6)

4

In [14]:
round(4.6)

5

In [15]:
float(3)

3.0

#### Exercise

* What is the difference between operators `/` and `//`? Create several new cells to illustrate the difference.

### Boolean values and operators

In [ ]:
True

In [32]:
type(True)

bool

In [ ]:
not True

In [23]:
bool(0)

False

In [29]:
bool(1) and bool(12) and bool(-4) and bool(0.7)

True

In [30]:
0 == False

True

In [31]:
1 == True

True

In [ ]:
7 != True

In [ ]:
7 != False

In [10]:
1 == 1

True

In [11]:
1 != 2

True

In [12]:
(1 < 10) and (10 < 12)

True

In [13]:
(1 < 10) and (12 < 12)

False

In [14]:
(1 < 10) and (12 <= 12)

True

In [15]:
1 < 10 < 12

True

In [16]:
1 < 12 < 12

False

#### Exercise

* Let us consider consider three given integers `a`, `b`, and `c`. Write a boolean formula that at least one is an even number and that all are less 100.

In [28]:
a = True; b = False; c = True

### Strings

In [9]:
"This is a string."

'This is a string.'

In [34]:
'This is also a string.'

'This is also a string.'

In [35]:
"Hello " + "world!"

'Hello world!'

In [36]:
"Hello " "world!"

'Hello world!'

In [37]:
"This is a string"[0]

'T'

In [38]:
"{} can be {}".format("Strings", "interpolated")

'Strings can be interpolated'

In [39]:
"{0} {0} {1} {0} {2} {1} {0}".format("St", "Tt", "Ut")

'St St Tt St Ut Tt St'

In [40]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

'Bob wants to eat lasagna'

In [41]:
bool('')

False

In [42]:
bool('abc')

True

#### Exercises

* What are the types of literals `"a"` and `'a'` ?
* Based on the ouput of `help(str)`, use the method `replace` to replace the word `world` by `universe` in the string `"Hello world!"`.

### Comments

In [2]:
# Single line comments start with a number symbol.

In [ ]:
""" Multiline strings can be written
    using three "s, and are often used
    as comments
"""

### Variables

In [3]:
x = 2
y = 7

In [4]:
x

2

In [5]:
x + y

9

In [6]:
x + y + z

NameError: name 'z' is not defined

In [7]:
%whos

Variable   Type      Data/Info
------------------------------
np         module    <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
x          int       2
y          int       7

In [8]:
lst1 = [1, 2, 3]
lst2 = ['A', 'B', 'C']
type(lst1)

list

lst1 and lst2 are two variables pointing to two different **objects** of type **list**. The **id()** function returns an integer representing its identity (its address).

In [17]:
id(lst1)

139664144636872

In [18]:
id(lst2)

139664144699848

The **is** operator compares the identity of two objects :

In [19]:
lst1 is lst2

False

In [20]:
lst3 = lst1
lst3 is lst1

True

In [21]:
id(lst3)

139664144636872

In [22]:
lst3 = ['A', 'B', 'C']
id(lst3)

139664144673800

In [24]:
lst2

['A', 'B', 'C']

In [25]:
lst2 == lst3

True

In [26]:
lst2 is lst3

False

### Print function

In [ ]:
print("I'm Python. Nice to meet you!")

In [ ]:
print("Hello, World!")
print("Hello, World!")

In [ ]:
print("Hello, World", end="! ")
print("Hello, World!")

In [ ]:
my_var = 1234
print(my_var)
print("my_var : {}".format(my_var))
print("my_var :", my_var)

In [ ]:
print?

#### Exercise
* Use `sum()` (see `sum?`) and `print()` to display the sum of a given list of integers.

In [38]:
x = [1, 2, 3, 4]
# Expected output : "The sum of [1, 2, 3, 4] is 10 !"

### Modules

In [32]:
import math
print(math.sqrt(2 * math.pi))

2.5066282746310002

In [31]:
from math import ceil, floor

print(ceil(3.7))
print(floor(3.7))

4
3

In [33]:
import math as m

math.sqrt(16) == m.sqrt(16)

True

#### Exercises

* Use the `randint()` function from the `random` module to randomly select an integer in the half closed interval $[0,100[$.
* Use a function in the `random` module to ransomly select a *real number* in the interval $[0, \pi]$, where the constatn $\pi$ is defined in the `math` module.

### List

In [50]:
li = []
other_li = [4, 5, 6]
len(other_li)

3

In [51]:
li.append(1)
li.append(2)
li.append(4)
li.append(3)
li

[1, 2, 4, 3]

In [52]:
li.pop()

3

In [53]:
print(li)

[1, 2, 4]

In [54]:
li.append(3)
print(li)
print(li[0])
print(li[-1])
print(li[-3])
print(li[1:3])
print(li[2:])
print(li[:3])
print(li[::2])

[1, 2, 4, 3]
1
3
2
[2, 4]
[4, 3]
[1, 2, 4]
[1, 4]

In [66]:
li[0] = 0
li2 = li
print(li)
print(li2)
print(id(li[0]))
print(id(li2[0]))
li[0] = 77
print(li)
print(li2)
print(id(li[0]))
print(id(li2[0]))

[0, 2, 4, 3]
[0, 2, 4, 3]
139664869886976
139664869886976
[77, 2, 4, 3]
[77, 2, 4, 3]
139664869889440
139664869889440

In [65]:
li[0] = 0
li2 = li[:]
print(li)
print(li2)
print(id(li[0]))
print(id(li2[0]))
li[0] = 77
print(li)
print(li2)
print(id(li[0]))
print(id(li2[0]))

[0, 2, 4, 3]
[0, 2, 4, 3]
139664869886976
139664869886976
[77, 2, 4, 3]
[0, 2, 4, 3]
139664869889440
139664869886976

In [67]:
li3 = ['A', 'B', 'A', 'C', 'A', 'D']
del li3[2]
print(li3)

['A', 'B', 'C', 'A', 'D']

In [68]:
li3 = ['A', 'B', 'A', 'C', 'A', 'D']
li3.remove('A')
print(li3)
print(li3.index('A'))

['B', 'A', 'C', 'A', 'D']
1

In [69]:
li + li3

[77, 2, 4, 3, 'B', 'A', 'C', 'A', 'D']

Membership test operations (see, [here](https://docs.python.org/3/reference/expressions.html#in))

In [70]:
'C' in li3

True

In [71]:
'E' in li3

False

equivalent to :

In [72]:
x = 'C'
any(x is e or x == e for e in li3)

True

In [73]:
a = [1, 2]
b = [1, 2]
c = [a]

In [74]:
a in c

True

In [75]:
b in c

True

#### Exercises

* Define a two lists containing all the odd numbers and all the prime numbers below 10, respectively. Then, merge these list and remove the duplicate values.
* What is the meaning of li[::-1] ?
* What is the meaning of li[::2] = 5 ?
* Print the values in even positions (*i.e.*, indices 0, 2, 4,...) of a given list in reverse order. For example, in the case of `x = [1, 2, 3, 4, 5, 6]`, the output has to be `[5, 3, 1]`.

### Tuples

In [76]:
tup = ("word", 2, 27.02)
print(tup)
print(tup[0])
print(len(tup))
print(2 in tup)

('word', 2, 27.02)
word
3
True

In [86]:
li = ["word", 2, 27.02]
print(li)
print(li.__sizeof__())
print(tup.__sizeof__())

['word', 2, 27.02]
64
48

Tuples are **immutable** :

In [77]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [78]:
print( type((1, 2, 3)) )
print( type((1)) )
print( type((1,)) )
print( type(()) )

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [79]:
a, b, c = (1, 2, 3)
print("a : {}, b: {}, c : {}".format(a, b, c))

a : 1, b: 2, c : 3

In [80]:
a, b, c = 12, 'acb', 42.0
print("a : {}, b: {}, c : {}".format(a, b, c))

a : 12, b: acb, c : 42.0

#### Exercises

* What are the differences between Lists and Tuples ?
* How would you name the following operation : e, d = d, e. Illustrate this with an example.
* Access the last string in this list of tuples :

In [88]:
pairs = [('foo', 5), ('bar', 7), ('spam', 376)]

### Dictionaries

In [89]:
empty_dict = {}
filled_dict = {"one": 1, "two": 2, "three": 3}

In [90]:
filled_dict['two']

2

In [91]:
filled_dict['forty-two'] = 42
print(filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'forty-two': 42}

In [101]:
from pprint import pprint

pprint(filled_dict, width=1)

{'forty-two': 42,
 'one': 1,
 'three': 3,
 'two': 2}

In [103]:
iterable_object = filled_dict.items()

iterator = iter(iterable_object)

print(next(iterator))
print(next(iterator))
print(next(iterator))

iterator = iter(iterable_object)

print(next(iterator))

('one', 1)
('two', 2)
('three', 3)
('one', 1)

In [104]:
list(iterable_object)

[('one', 1), ('two', 2), ('three', 3), ('forty-two', 42)]

In [105]:
list(filled_dict.values())

[1, 2, 3, 42]

In [106]:
list(filled_dict.keys())

['one', 'two', 'three', 'forty-two']

In [107]:
'nine' in filled_dict

False

In [108]:
filled_dict['nine']

KeyError: 'nine'

In [109]:
filled_dict.get('nine') is None

True

In [114]:
filled_dict['nine'] = 9
'nine' in filled_dict

True

In [110]:
del filled_dict['one']
'one' not in filled_dict

True

In [115]:
filled_dict.update({'one':1})
print(filled_dict)

{'two': 2, 'three': 3, 'forty-two': 42, 'one': 1, 'nine': 9}

Keys have to be *immutable* so that they can be converted to a constant hash value :

In [116]:
invalid_dict = {[1,2,3]: "123"}

TypeError: unhashable type: 'list'

#### Exercises

* Define a dictionary that contains the keys *odd*, *even*, and *prime* and values `[1, 3, 5, 7, 9]`, `[2, 4, 6, 8, 10]`, and `[2, 3, 5, 7]`. Then, add the values 11, 12, 13 and 14 to the corresponding lists.
* Define a dictionary that is the inverse of the previous one. Lists cannot be used as a key. Why ? What can be used instead of it ?

### Sets

In [118]:
empty_set = set()

In [120]:
some_set = {1, 1, 2, 2, 3, 4}
print(some_set)

{1, 2, 3, 4}

Elements of a set have to be immutable so that they can be converted to a constant hash value :

In [121]:
invalid_set = {[1, 2, 3], '123'}

TypeError: unhashable type: 'list'

In [122]:
valid_set = {123, '123', (1,2,3), 123, '123'}
print(valid_set)

{123, '123', (1, 2, 3)}

#### Sets operators

In [123]:
A = {1, 2, 3, 4, 5}
B = {2, 4, 6, 8, 10}
C = {1, 3, 5, 7, 9}

In [124]:
print(2 in A)
print(2 in C)
print(2 not in C)

True
False
True

Intersection and union

In [125]:
print(A & B)
print(A & C)
print(B | C)

{2, 4}
{1, 3, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Difference and symmetric difference (*i.e.* $(A \backslash B) \cup (B \backslash A)$)

In [126]:
print(A - B)
print(A ^ B)

{1, 3, 5}
{1, 3, 5, 6, 8, 10}

Subset

In [127]:
{1, 2, 4} <= {1, 2, 4, 8}

True

In [128]:
{1} < {1, 2}

True

In [129]:
{1, 2, 4} <= {1, 2, 3}

False

In [130]:
{1, 2, 4} <= {1, 2}

False

#### Exercises

* Write an intersection between two non empty sets that is equal to the empty set.
* Give two sets of size greater or equal to 3 whose the difference and symetric difference are both equal to {1, 2, 3}.
* Define a two lists containing all the odd numbers and all the prime numbers below 10, respectively. Then, based on set operators, merge these list and remove the duplicate values.

### Control Flow

#### The if statement

In [131]:
some_var = 5

if some_var > 10:
    print("some_var is totally bigger than 10.")

Indentation is significant.

In [133]:
some_var = 5

if some_var > 10:
    print("some_var is totally bigger than 10.")
    some_var += 10

print(some_var)

if some_var > 10:
    print("some_var is totally bigger than 10.")
some_var += 10

print(some_var)

if some_var > 10:
    print("some_var is totally bigger than 10.")

5
15
some_var is totally bigger than 10.

With else and else if clauses :

In [134]:

if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:
    print("some_var is smaller than 10.")
else:   
    print("some_var is indeed 10.")

some_var is totally bigger than 10.

#### The for loop

In [136]:
for animal in ["dog", "cat", "mouse"]:
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [137]:
it = iter(range(4))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

0
1
2
3

In [138]:
it = iter(range(4))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

0
1
2
3

StopIteration:

In [140]:
for i in range(4):
    print(i)

0
1
2
3

In [141]:
# Half-open interval : [4, 8[
# size : 8 - 4 = 4
for i in range(4, 8):
    print(i)

4
5
6
7

In [142]:
for i in range(4, 8, 2):
    print(i)

4
6

In [144]:
for d in [3, 1, 4, 1, 5]:
    print(d, end=" ")

3 1 4 1 5

In [145]:
for i in range(3):
    for j in range(3):
        print(i, j)
    
    print("This statement is within the i-loop, but not the j-loop")

0 0
0 1
0 2
This statement is within the i-loop, but not the j-loop
1 0
1 1
1 2
This statement is within the i-loop, but not the j-loop
2 0
2 1
2 2
This statement is within the i-loop, but not the j-loop

In [146]:
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

0
1
2
3

In [150]:
filled_dict = {"one": 1, "two": 2, "three": 3}
for k in filled_dict:
    print(k)

one
two
three

In [151]:
filled_dict = {"one": 1, "two": 2, "three": 3}
for v in filled_dict.values():
    print(v)

1
2
3

In [149]:
filled_dict = {"one": 1, "twenty": 20, "three": 3}
for k, v in filled_dict.items():
    print('{:<10} -> {:>4}'.format(k, v))

one        ->    1
twenty     ->   20
three      ->    3

In [152]:
print("start")
for i in range(0):
    print("Hello")
print("end")

start
end

#### Exercises

* With the use of a single loop, complete the following program so that `words_freqs` contains words with frequencies of occurence from the list `word_list`.

In [159]:
from random import sample

word_set = {'simply', 'dummy', 'text'}

word_list = []
for i in range(100):
    word_list.extend(sample(word_set, 1))
    
words_freqs = {}

# Write your code here

* Take advantage of `defaultdict` from the `collections` module to improve this code (see [here](https://docs.python.org/3/library/collections.html#collections.defaultdict)).
* Use [Counter](https://docs.python.org/3/library/collections.html#collections.Counter) to perform the same task.

### Functions

In [173]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y

In [ ]:
add(5, 6)

In [ ]:
add(y=6, x=5)

#### Exercises

* Write a function that computes the factorial of 100. What do you conclude from that. Compare with the result of googling "100!".

#### Variable number of arguments

In [167]:
def varargs(*args):
    print(type(args))
    return args

varargs(1, 2, 3)

<class 'tuple'>

(1, 2, 3)

In [168]:
def keyword_args(**kwargs):
    print(type(kwargs))
    return kwargs

# Let's call it to see what happens
keyword_args(big="foot", loch="ness")

<class 'dict'>

{'big': 'foot', 'loch': 'ness'}

In [171]:
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

all_the_args(1, 7, 913, big="foot", loch="ness")

(1, 7, 913)
{'big': 'foot', 'loch': 'ness'}

In [176]:
val = (7, 9)
add(*val)

x is 7 and y is 9

16

In [177]:
val = {'x': 12, 'y': 23}
add(**val)

x is 12 and y is 23

35

#### Exercises

* Write a function that takes a variable number of arguments and returns its sum.
* Write a function that takes a variable number of arguments and returns the minimal value.
* Write a function that takes a list of numerical values as argument and returns the minimal and maximal value.

#### Function scope - Naming resolution

The Python's naming resolution is called the LEGB rule. When an unqualified name is used, python searches up to four scopes in the following order :

* L : Local
* E : Enclosing
* G : Global
* B : Built-in

Local and global

In [ ]:
x = 5

def set_x(num):
    x = num # An assignment create a local change
    print(x)

set_x(43)
print(x)

In [ ]:
x = 5

def f():
    print(x)
  
f()

In [ ]:
x = 5

def set_x(num):
    global x
    x = num
    print(x)

set_x(43)
print(x)

Built-in

In [ ]:
len([1,2,3])

In [ ]:
def len(x):
    return 0

len([1,2,3])

In [ ]:
x, y = 1, 2

def f():
    x = 3
    def g():
        y = 6
        print('g. {}, {}'.format(x, y))
    print('f1. {}, {}'.format(x, y))
    g()
    print('f2. {}, {}'.format(x, y))

f()

print('final. {}, {}'.format(x, y))

#### Python has first class functions

In [ ]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

In [ ]:
add_10 = create_adder(10)
print(add_10(3))
print(add_10(7))

In [ ]:
def create_accumulator(x):
    def accumulator(y):
        nonlocal x
        x += y
        return x
    return accumulator

acc_10 = create_accumulator(10)

print(acc_10(3))
print(acc_10(7))

#### Exercises

* Complete the following code to compute fibonacci numbers based on the use of first class functions :

In [ ]:
def fib():

f = fib()
print(f(), f(), f(), f())

#### Anonymous functions

In [ ]:
(lambda x: x > 2)(3)

In [ ]:
comparator = lambda x: x > 2
comparator(8)

In [ ]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)

In [ ]:
students = ['john', 'dave', 'jane']
sorted(students)

In [ ]:
students = [
        ('jane', 'A', 15),
        ('dave', 'B', 12),
        ('john', 'B', 10),
]
sorted(students)

In [ ]:
students = [
        ('jane', 'A', 15),
        ('dave', 'B', 12),
        ('john', 'B', 10),
]

sorted(students, key=lambda student: student[2])

In [ ]:
from operator import itemgetter

print( sorted(students, key=itemgetter(2)) )

#### List comprehension

In [ ]:
add_10 = lambda x: 10 + x
[add_10(i) for i in [1, 2, 3]]

In [ ]:
[x for x in [3, 4, 5, 6, 7] if x > 5]

#### Built-in functions

In [ ]:
abs(-3)

In [ ]:
all([True, True, False])

In [ ]:
all([True, True, True])

In [ ]:
any([True, True, True])

In [ ]:
any([False, False, False])

In [ ]:
max(3, 4, 7, 2)

In [ ]:
max(range(100))

In [ ]:
list(map(lambda x: (x % 2) == 0 , [1, 2, 3, 4, 5, 6]))

In [ ]:
list(map(max, [1, 2, 3], [4, 2, 1]))

In [ ]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

for i, season in enumerate(seasons):
    print('{} : {}'.format(i, season))

print(enumerate(seasons))    
print(list(enumerate(seasons)))

#### Exercises

* Combine map, all, and lambda to check if a given list contains only even numbers.
* Use list comprehensions instead of maps to answer the previous question.

### Classes

In [ ]:
import math

class Point:
    """
    Represents a point in the two-dimensional Euclidean plane.
    
    :param x: 
        the first coordinate
        
    :param y: 
        the second coordinate
    """
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def distance(self, other_point):
        """
        Returns the euclidean distance from the point refered by other_point to itself.
        """
        return math.sqrt((self.x - other_point.x)**2 + (self.y - other_point.y)**2)

p1 = Point(x=7.4, y=2.0)

p2 = Point(x=1.4, y=0.8)

print(p1.distance(p2))
print(Point.distance(p1, p2))

p3 = Point(x=7.4, y=2.0)

print(p1 == p3)

print(p1.__dict__['x'], p1.__dict__['y'])

In [ ]:
help(Point)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces = [1, 2, 3]

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

Dice.faces = [1, 2, 3]

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
    def set_faces(faces):
        Dice.faces = faces
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

Dice.set_faces([1, 2, 3])

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
    def set_faces(self, faces): # self is a variable that refers to an instance of Dice
        self.faces = faces
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.set_faces([1, 2, 3]) # This is equivalent to Dice.set_faces(d1, [1, 2, 3])

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces.append(7)

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice()
d2 = Dice()

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice.__new__(Dice)
d2 = Dice.__new__(Dice)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice.__new__(Dice).__init__()
d2 = Dice.__new__(Dice).__init__()

In [ ]:
class Dice:
    def __init__(self):
        self.faces = [1, 2, 3, 4, 5, 6]

d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces.append(1)

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

#### Exercises

* Add the method `equals` to the class `Point` that determines whether or not two points are equal.
* Complete the following class definition with the help of the random module (see, https://docs.python.org/3/library/random.html) :

In [ ]:
import random

class Dice:
    """
    Represents a dice composed of six faces labled from 1 to 6.
    """
    
    def __init__(self):
        self.face_value = 1
        self.dice_values = list(range(1,7))
        
    def roll(self): pass
    
    def get_face_value(self): pass

d = Dice()
print(d.get_face_value())
d.roll()
print(d.get_face_value())
d.roll()
print(d.get_face_value())

### Generators

In [ ]:
def a_generator():
    yield 2
    yield 4
    yield 6

iterator = iter(a_generator())
    
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

In [ ]:
def double_numbers(iterable):
    for i in iterable:
        yield i + i

for i in double_numbers(range(1, 90)):
    print(i)
    if i >= 30:
        break

#### Exercises

* Write a generator of fibonacci numbers, and use it to generate the 20 first fibonacci numbers.

### File I/O

In [ ]:
# Writing to a file
with open("example.txt", "w") as f:
    f.write("Hello World! \n")
    f.write("How are you? \n")
    f.write("I'm fine.")

In [ ]:
ls

In [ ]:
# Reading from a file
with open("example.txt", "r") as f:
    data = f.readlines()
    for line in data:
        words = line.split()
        print(words)

In [ ]:
# Count lines and words in a file
lines = 0
words = 0
the_file = "example.txt"

with open(the_file, 'r') as f:
    for line in f:
        lines += 1
        words += len(line.split())
        
print("There are {} lines and {} words in the {} file.".format(lines, words, the_file))